{
  "env": {
    "development": {
      "presets": ["@babel/react", "@babel/env"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": ["@babel/preset-react"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "production": {
      "presets": ["@babel/react", "@babel/env", "@babel/preset-react"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
